h1 {
  font-size: 20px;
}

.course-title {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.timeline-wrapper {
  position: relative;
  width: 100%;
  margin: auto;
  height: auto;
  min-height: 600px;
  margin-bottom: 200px;
}

.timeline-wrapper .middle-line {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: #A4B987;
}

.box {
  width: 11.5%;
  position: relative;
  min-height: 450px;
  float: right;
}



.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3F4F2A;

  position: absolute;
  top: 67%;
  left: 0px;
  transform: translateY(-50%);
}

.vl-top {
  width: 4px;
  height: 30px;
  background-color: #3F4F2A;
  position: absolute;
  bottom: 33%;
  left: 0px;
}

.vl-bottom {
  width: 4px;
  height: 30px;
  background-color: #3F4F2A;
  position: absolute;
  top: 67%;
  left: 0px;
}

.fall-course-section {
  border-radius: 5px;
  background-color: #e6f7cd;
  width: 220px;
  position: absolute;
  left: -77px;
  padding: 15px;
  margin: 0;
}

.box-top .fall-course-section {
  bottom: 43%;
}


.box-bottom .fall-course-section {
  top: 75%;
}




/*vertical line */

.vl-timeline {
  position: relative;
  width: 100%;
  margin: auto;
  height: auto;
  min-height: 600px;
  margin-bottom: 200px;
  display: none;
}

.vl-timeline .left-line {
  position: absolute;
  left: 10%;
  width: 4px;
  height: 100%;
  top: 0;
  transform: translateX(-50%);
  background: #A4B987;
}

.container {
  display: flex;
  gap: 20px;
  width: 45%;
  position: relative;
  min-height: 150px;
  margin-left: 6.5%;
  margin-top: 10px;

}



.dots {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3F4F2A;

}



.fall-course-sections {
  border-radius: 5px;
  background-color: #e6f7cd;
  width: 220px;
  height: auto;
  padding: 10px;
}


@media (max-width: 700px) {
  .timeline-wrapper {
    display: none;
  }

  .vl-timeline {
    display: block;
  }
}

