.proj-section {
  background-color: #DAE6CB;
  padding-top: 20px;
  padding-bottom: 20px;
}

.proj-section .card {
  max-width: 400px; /* adjust as desired */
  margin: 0 auto;   /* center horizontally in its column */
}


.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.picture {
  width: 360px;
  height: auto;
  border-radius: 50%;
}

.card {
  background-color: #e6f7cd;
}

.card-btn {
  color: white;
  background-color: #3F4F2A;
}