.skills-section {
  background-color: #DAE6CB;
  padding-top: 20px;
  padding-bottom: 20px;
}

.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
}



.skill-title {
  text-align: center;
}

.skills-container {
  
  margin-left: 50px;
  
}