body {
  background-color: #fff8dc;
}

.welcome-page {
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  font-size: 36px;
}

.home-page {
  min-height: 100vh;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 200px;

  margin-top: 200px;


}

.course-btn,
.project-btn,
.skills-btn,
.experiences-btn {
  border: 2px solid black;
  background-color: orange;
  font-size: 30px;
  color: white;
  border-radius: 3px;
  font-weight: bold;
 
}

.course-pic,
.proj-pic {
  width: 200px;
}

.proj-container {
  margin-left: 300px;
}

.experiences-container {
  margin-right: 300px;
}


.vl-1,
.vl-2 {
  position: fixed;
  border-left: 2px solid black;
  height: 100vh;
  margin-left: 50px;
}

.vl-2 {
  display: flex;
  justify-content: flex-end;
}








.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}




.picture-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}


/* Corner containers */
.corner {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Positioning corners */
.left-top-corner {

  margin-left: 15px;
  transform: translate(-50%, -100%); /* shift up and left */
}

.right-top-corner {
  right: 15px;
  transform: translate(50%, -100%); /* shift up and right */
}

/* Vertical line */
.vl,
.vl-3 {
  width: 2px;
  height: 200px; /* line length */
  background-color: black;

}

.picture {
  margin-bottom: 0;
}



.about-me-name {
  position: absolute;
  transform: translate(65%, -140%); 


  font-size: 26px;
  border: 2px solid black;
  border-radius: 15px;
  padding: 4px 25px;

  background-color: aliceblue;


}

.about-me-info {
  border: 2px solid black;
  background-color: aliceblue;
  width: 280px;
  transform: translateY(-7%);
  padding: 10px;
  border-top-style: none;
  
}

.left-bottom-corner {

  margin-left: 15px;
  transform: translate(-50%); /* shift up and left */
  transform: translateY(390px);
}






.right-bottom-corner {
  right: 15px;
  transform: translate(50%); /* shift up and right */
  transform: translateY(390px);
}

.vl-3 {
  height: 450px;
}
