.timeline {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
}

.tail {
  width: 4px;
  height: 30px;
  background-color: green;
}
