body {
  background-color: rgb(242, 229, 211);
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
}

.timeline {
  margin: 3em auto; /*horizontally center*/
  max-width: 1000px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  color: black;

}

.timeline__component {
  max-width: 900px;
  margin: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.timeline__component--bg {
  width: 400px;
  height: 250px;
  padding: 20px;
  padding-bottom: 0;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}


.timeline__component--bottom {
  margin-bottom: 0;
}



.timeline__date--right {
  text-align: right;
}

.timeline__middle {
  position: relative;
  background-color: white;

}

.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
}

.timeline__point--bottom {
  top: initial;
  bottom: 0;
}

.timeline__title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.timeline__paragraph {
  font-size: 15px;
  line-height: 2;
}


