body {
  background-color: #F9FFF1;
  font-family: 'Inter', sans-serif;
}


h1, h2, h3, h4, h5, h6, button {
  font-family: 'Poppins', sans-serif;
}

.nav-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;


}



.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #FFFFFF;
  height: 60px;
  padding: 0 30px; 
  border-bottom: 1px solid #A4B987;
}

.my-name {
  border: none;
  background: none;
  color: #3F4F2A;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}

.nav-right {
  display: flex;
  gap: 30px;
  
}

.btn {
  border-color: #A4B987;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover {
  background-color: #3F4F2A;
  color: #F9FFF1;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.3s;
}



