body {
  background-color: rgb(242, 229, 211);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.nav-container {
  background-color: rgb(242, 229, 211);
  border-bottom: 2px solid black;
 
}


.nav-name {
  color: black;
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
}

.nav-name:hover {
  color: gray;
}



.home-page {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin-inline: auto;
  margin-top: 50px;

  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}


.my-picture {
  display: flex;
  justify-content: center;
  align-items: center;

}


.about-me-picture {
  border-radius: 20px;
  width: 200px;
  height: auto;
}

.my-info {
  display: flex;
  flex-direction: column;

}

.about-me-title {
  text-align: center;
}

.about-me-paragraph {
  text-align: center;
}
