body {
  background-color: #FFF8DC;
}

.welcome-page {
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  font-size: 36px;
}

.home-page {
  min-height: 100vh;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.about-me-title,
.about-me-name {
  font-size: 26px;;
  border: 2px solid black;
  border-radius: 5px;
  padding: 4px 25px;

  background-color: aliceblue;
}

.picture {
  width: 300px;
  height: auto;
  border: 4px solid black;

}


.mini-container {
  display: flex;
  column-gap: 80px;
  align-items: center;

}

.square {
  border: 2px solid black;
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: aliceblue;
}

.about-me-name {
  margin-top: 0;
  border-radius: 15px;
}