.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
}

.section-title {
  font-weight: bold;
  margin-bottom: 40px;
}